{% extends "fancy.html" %}
{% load rtf_filters %}
{% block meta_title %}Volunteer Signup{% endblock %}

{% block inner_content %}
  <h3 class="text-center">Volunteer to Restore the Fourth!</h3>
  <br>
  <h4>
    Join the fight against unconstitutional surveillance. We are always welcoming new volunteers of various interests and skill-sets. Whether you're interested in helping organize local events, design, development, communications, or something else, please get in touch today.
  </h4>
  <br>
  <div class="well">
    <h3 class="text-success text-center">Yes, I want to volunteer today.</h3>
    <br>
    <form class="form-horizontal" id="volunteer-form" action="/volunteer/" method="post">
      {% csrf_token %}
      <p class="text-error">{{ form.non_field_errors }}</p>
      <div class="row form-panel">

        <div class="control-group {% if form.name.errors %}error{% endif %}">
          {{ form.name|label_classes:"control-label" }}
          <div class="controls">
            {{ form.name }}
            {% if form.name.errors %}
              <span class="help-inline text-error">{{ form.name.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="control-group {% if form.email.errors %}error{% endif %}">
          {{ form.email|label_classes:"control-label" }}
          <div class="controls">
            {{ form.email }}
            {% if form.email.errors %}
              <span class="help-inline text-error">{{ form.email.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="control-group {% if form.phone.errors %}error{% endif %}">
          {{ form.phone|label_classes:"control-label" }}
          <div class="controls">
            {{ form.phone }}
            <span class="help-inline text-error">* {{ form.phone.help_text }}</span>
          </div>
        </div>

        <div class="control-group {% if form.city.errors %}error{% endif %}">
          {{ form.city|label_classes:"control-label" }}
          <div class="controls">
            {{ form.city }}
            {% if form.city.errors %}
              <span class="help-inline text-error">{{ form.city.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="control-group {% if form.state.errors %}error{% endif %}">
          {{ form.state|label_classes:"control-label" }}
          <div class="controls">
            {{ form.state }}<br>
            <span class="muted">{{ form.state.help_text }}</span>
          </div>
        </div>

      </div>
      <h4 class="text-center">What volunteer interests do you have?</h4>
      <br>
      <div class="row form-panel">

        <div class="control-group">
          {{ form.events|label_classes:"control-label" }}
          <div class="controls">
            {{ form.events }}
            <span class="help-inline">{{ form.events.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.organizing|label_classes:"control-label" }}
          <div class="controls">
            {{ form.organizing }}
            <span class="help-inline">{{ form.organizing.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.communications|label_classes:"control-label" }}
          <div class="controls">
            {{ form.communications }}
            <span class="help-inline">{{ form.communications.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.design|label_classes:"control-label" }}
          <div class="controls">
            {{ form.design }}
            <span class="help-inline">{{ form.design.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.development|label_classes:"control-label" }}
          <div class="controls">
            {{ form.development }}
            <span class="help-inline">{{ form.development.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.multimedia|label_classes:"control-label" }}
          <div class="controls">
            {{ form.multimedia }}
            <span class="help-inline">{{ form.multimedia.help_text }}</span>
          </div>
        </div>

        <div class="control-group">
          {{ form.other|label_classes:"control-label" }}
          <div class="controls">
            {{ form.other }}
            <span class="help-inline">{{ form.other.help_text }}</span>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="span3 offset2">
          <button class="btn btn-block btn-large btn-primary" type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </div> <!-- /form -->
{% endblock %}
